DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="oXRebujbKx4DdrG7rvvQuv+NuT16GEUGEDBvuZox0o+81Jkhq6xqc3Euxnn0LW8E
F/J30Ll1xo2L7cNH+iqJL1fz03AUysOwi9OWoRkZit2Y3LBnzSwbO6uGe55iIZrq"
NEXTAUTH_URL="http://localhost:3012"

APP_NAME="RollVault"
APP_BASE_URL="http://localhost:3012"

# Email delivery (Resend)
RESEND_API_KEY=""
EMAIL_FROM="RollVault <no-reply@yourdomain.com>"
EMAIL_REPLY_TO="support@yourdomain.com"
